<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="QLTHPTConnection" 
         connectionString="Data Source=YOUR_SERVER;Initial Catalog=QLTHPT_DB;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Các cấu hình ứng dụng -->
    <add key="SchoolName" value="Trường THPT ABC" />
    <add key="SchoolAddress" value="Địa chỉ trường" />
  </appSettings>
</configuration>
